# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Backend/node_modules
/Backend/.pnp
/Backend/.pnp.js

# testing
/Backend/coverage

# production
/Backend/build

# misc
/Backend/.DS_Store
/Backend/.env.local
/Backend/.env.development.local
/Backend/.env.test.local
/Backend/.env.production.local

/Backend/npm-debug.log*
/Backend/yarn-debug.log*
/Backend/yarn-error.log*